<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lotus.Base.Properties.Settings.BaseConnString" connectionString="Data Source=PHUCTH\MSSQLSERVER2012;Initial Catalog=VSD_StorageADO;User ID=sa;Password=backinh27"
            providerName="System.Data.SqlClient" />
    </connectionStrings>


  <!--<connectionStrings>
    <add name="Lotus.Base.Properties.Settings.BaseConnString" connectionString="/FTJoi5CV+6/qPgw74VUwnUeHPpz4fQo5EsFXtEcoZpoSTtO/TaUmaDNv2Pz/YiI7X3nPVzVvnQWIGrcHpcvRrgl6YRupCz4kc8c2Sgal+s="
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  
</configuration>