<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VSDiDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VSD.Storage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VSDiDoc.Properties.Settings.VSDiDocConnString" connectionString="Data Source=192.168.198.100;Initial Catalog=QUANLYCONGVAN2021;User ID=sa;Password=admin@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <userSettings>
    <VSDiDoc.Properties.Settings>
      <setting name="RemoteUri" serializeAs="String">
        <value>http://192.168.198.100/VSDiDocUpdate/info.xml</value>
      </setting>
    </VSDiDoc.Properties.Settings>
  </userSettings>
</configuration>